#voti .progress {
  height: 110px;
  line-height: 110px;
}

#voti .progress img {
  margin-top: -5px;
}

#voti .progress .bar {
  font-size: 20px;
  font-family: "Oswald", Arial, sans-serif;
}

#voti .progress .bar.text-left {
  text-align: left;
  padding-left: 10px;
}

#voti .progress .bar.text-right {
  text-align: right;
  padding-right: 10px;
}

#voti .vota {
  font-size: 20px;
  font-family: "Oswald", Arial, sans-serif;
  height: 70px;
  line-height: 1.5;
  margin-top: 40px; /* ( (height .progress - height .vota) / 2 ) + 20px di margin-top di .progress*/
}

.margin-medium-vertical {
  margin: 20px 0;
}

.margin-medium-top {
  margin-top: 10px;
}

.margin-medium-bottom {
  margin-bottom: 10px;
}